
<h1 class="my-4" style="color: #31126f; text-align: center; padding: 8px">Frequently Asked Questions</h1>

<div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto my-3">

  <ngb-accordion #acc="ngbAccordion" class="faq-accordion">
    <ngb-panel id="a1">
      <ng-template ngbPanelTitle>
        <span>How do i check if a specific position is available ? </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <span>
          When you fill out the apply form, the currently available positions are Listed in <strong>Job Selection dropdown</strong>. If the position of your interest isn't
          available, <strong> you can still apply by choosing Category - "Other"</strong>
          We welcome applications from individuals with outstanding abilities, any time. If you are one of them
          and would like to join our team, please feel free to send your resume right now.
        </span>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="a2">
      <ng-template ngbPanelTitle>
        <span>How do I track my application status ?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <span>
          <strong>You will receive notification via email </strong> for each and every steps your applications is processed through.
          For more details, You can always <strong>login to this application, to check the current status</strong> of your application.
          If you didn't hear from us for more than a 2 weeks or more, you can contact us - in our HR mailing address.
        </span>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="a3">
      <ng-template ngbPanelTitle>
        <span>Can I reapply after my application has not been selected ? </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <span>
          <strong>Yes!</strong> A rejection shouldn’t deter you from giving it another go. We will try our best to provide you feedbacks
          for your rejection too. We suggest you to make improvements or changes before reapplying. We encouraged you to always give your best.
        </span>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="a4">
      <ng-template ngbPanelTitle>
        <span>What are the criteria or re-submission or re-applying ? </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <span>
          <strong>We process your application for only one position at a time.</strong> You can't re-submit or re-apply unless your current
          application is either selected or rejected. You can drop message to our HR from within the system if in-case you want to switch the position you have applied.
          Note: We value our candidate very highly, so, if your application is either over-qualified or under-qualified, we will make measures for that too.
        </span>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

</div>
