<div class="boxes">
  <app-dashboard-box [count]="kpiValues?.recentHires" [label]="'Recent Hire'" identifier="recent_hire" [styles]="{icon: 'bi bi-send-check-fill', style:'background: #7B74EC'}"></app-dashboard-box>
  <app-dashboard-box  [count]="kpiValues?.newCandidate" [label]="'New Candidate'" identifier="new_candidates" [styles]="{icon: 'bi bi-person', style:'background: #74daec'}"></app-dashboard-box>
  <app-dashboard-box  [count]="kpiValues?.activeVacancies" [label]="'Active Vacancies'" identifier="active_vacancies" [styles]="{icon: 'bi bi-person-workspace', style:'background: #5C8AF0'}"></app-dashboard-box>
  <app-dashboard-box  [count]="kpiValues?.activeRefferals " [label]="'Active Refferals'" identifier="active_referrals" [styles]="{icon: 'bi bi-link-45deg', style:'background: #E45D99'}"></app-dashboard-box>
<!--  <div class="individual-box">-->
<!--    <i class="bi bi-send-check-fill"></i>-->
<!--    <div>-->
<!--      <h3>3</h3>-->
<!--      <span>Hired</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="individual-box">-->
<!--    <i class="bi bi-person"></i>-->
<!--    <div>-->
<!--      <h3>11</h3>-->
<!--      <span>New candidates</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="individual-box">-->
<!--    <i class="bi bi-person-workspace"></i>-->
<!--    <div>-->
<!--      <h3>30</h3>-->
<!--      <span>Job Vacancies</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="individual-box">-->
<!--    <i class="bi bi-link-45deg"></i>-->
<!--    <div>-->
<!--      <h3>8</h3>-->
<!--      <span>Referrals</span>-->
<!--    </div>-->
<!--  </div>-->

</div>
