.details-card{
  border: 1px gray solid;
  padding: 35px;
}

.firstName, .lastName {
  font-family: "Verdana", sans-serif;
}

.title {
  font-weight: bold;
  font-style: italic;
}

.details {
  border-left: 1px gray solid;
  padding-left: 5px;
}
