<div *ngIf="responseMessage && responseMessage.length > 0 && alert" class="alert"
     [ngClass]="jobAdded? 'alert-primary' : ''" role="alert">
  {{responseMessage}}
</div>

<h3 class="text-center">JOB POSTING</h3>

<div class="container border border-3 mb-3 p-3 w-50">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="mb-3 form-group">
      <label for="exampleInputEmail1" class="form-label">Job Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             formControlName="title">
    </div>

    <div class="mb-3 form-group">
      <!--        <input type="text" class="form-control" id="exampleCheck1" formControlName="experience">-->
      <label for="exampleInput1" class="form-label">Job Position</label>
      <select class="form-control" formControlName="position" id="exampleInput1">
        <option selected disabled>Select Preferred Job</option>
        <option *ngFor="let exp of keys" [ngValue]="exp">
          {{exp}}
        </option>
      </select>
    </div>

    <div class="mb-3 form-group">
      <label class="form-label">Is Active?</label>
      <!--          <div class="form-check">-->
      <input class="form-check-input" style="margin-left: 4%" type="radio" formControlName="isActive" [value]="true"
             id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        &nbsp;&nbsp;True
      </label>
      <!--          </div>-->
      <!--          <div class="form-check">-->
      <input class="form-check-input" style="margin-left: 6.5%" type="radio" formControlName="isActive"
             [value]="false" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault1">
        &nbsp;&nbsp;False
      </label>
      <!--          </div>-->
    </div>

    <div class="mb-3 form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1"
                rows="3"></textarea>
    </div>

    <div class="col-md-12 text-center">
      <button type="submit" class="btn cc-button-primary ">Submit</button>
      <button type="button" class="btn btn-outline-danger" style="margin-left: 6.5%"
              [routerLink]="APP_ROUTES.DASH_JOB_DETAILS">Cancel
      </button>
    </div>
  </form>
</div>
